
  <div class="navContainer col-2">
      <div class="containerTile">Bike Shop</div>
      <div class="navWebSite">
        <ul>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Panier</a></li>
        </ul>
      </div>
      <div class="navUser">
        <a href="#">Mon compte</a>
        <a href="#">Inscription</a>
      </div>
  </div>
