body {
  margin: 0;
}

a {
  color: #00B7FF;
}


.navContainer{
  background-color: #2c3e50;
  height: 100vh;
  color: #ecf0f1;
}

#shop-page{
  padding: 0px;
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
}
